<link rel="import" href="../bower_components/polymer/polymer.html">


<link rel="import" href="../bower_components/iron-flex-layout/classes/iron-flex-layout.html">
<link rel="import" href="../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../bower_components/iron-pages/iron-pages.html">
<link rel="import" href="../bower_components/iron-selector/iron-selector.html">
<link rel="import" href="../bower_components/iron-list/iron-list.html">
<link rel="import" href="../bower_components/paper-drawer-panel/paper-drawer-panel.html">
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../bower_components/paper-item/paper-item.html">
<link rel="import" href="../bower_components/paper-material/paper-material.html">
<link rel="import" href="../bower_components/paper-menu/paper-menu.html">
<link rel="import" href="../bower_components/paper-scroll-header-panel/paper-scroll-header-panel.html">
<link rel="import" href="../bower_components/paper-styles/paper-styles-classes.html">
<link rel="import" href="../bower_components/paper-toast/paper-toast.html">
<link rel="import" href="../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../bower_components/paper-button/paper-button.html">
<link rel="import" href="../bower_components/paper-input/all-imports.html">


<dom-module id="clientok-admin">
<template>
<style include="shared-styles"></style>
<style>
</style>
	<paper-drawer-panel id="paperDrawerPanel">

      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>
        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="paper-font-title">Favorites</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu class="list" attr-for-selected="data-route" selected="[[childRoute]]">
          <a data-route="home" href="/" on-click="onDataRouteClick">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>

          <a data-route="users" href="/users" on-click="onDataRouteClick">
            <iron-icon icon="info"></iron-icon>
            <span>Users</span>
          </a>

          <a data-route="contact" href="/contact" on-click="onDataRouteClick">
            <iron-icon icon="mail"></iron-icon>
            <span>Contact</span>
          </a>
        </paper-menu>
      </paper-scroll-header-panel>

      <!-- Main Area -->
      <paper-scroll-header-panel main condenses keep-condensed-header>

        
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
          
          <span class="flex"></span>
          <paper-icon-button icon="refresh"></paper-icon-button>
          <paper-icon-button icon="search"></paper-icon-button>

 
          <div class="middle middle-container center horizontal layout">
            <div class="app-name">Namtok Backend</div>
          </div>
          <div class="bottom bottom-container center horizontal layout">
            <div class="bottom-title paper-font-subhead">'An intranet solution based on Google's Polymer and the future of web UI frameworks.'</div>
          </div>

        </paper-toolbar>

        <namtok-toolbar></namtok-toolbar>

		<iron-pages attr-for-selected="data-route" selected="{{childRoute}}">

		<section data-route="home">
          <paper-material elevation="1">
            HOME AMDIN
          </paper-material>
        </section>
      
        <section data-route="users">
          <paper-material elevation="1">
            <user-list></user-list>
          </paper-material>
        </section>

        <section data-route="user-info">
          <paper-material elevation="1">
            
            <user-edit params="[[params]]"></user-edit>
            
            
          </paper-material>
        </section>


      </iron-pages>
       
      </paper-scroll-header-panel>
    </paper-drawer-panel>
</template>
<script>

 (function() {
    'use strict';
      Polymer({
          is: 'clientok-admin',
          ready:function(){

          },
          factoryImpl:function(){
          	init.apply(this);
          	//page('#!/users');
          },
          properties:{
          	childRoute:{
          		type:String,
          		value:"users"
          	}
          }
      });
    })();

function init(){
	(function(document) {
		console.info('clientok-admin.attached')
	  'use strict';

	  // Grab a reference to our auto-binding template
	  // and give it some initial binding values
	  // Learn more about auto-binding templates at http://goo.gl/Dx1u2g
	  
	  var app = this;

	  app.displayInstalledToast = function() {
	    // Check to make sure caching is actually enabled—it won't be in the dev environment.
	    if (!document.querySelector('platinum-sw-cache').disabled) {
	      document.querySelector('#caching-complete').show();
	    }
	  };

	  // Listen for template bound event to know when bindings
	  // have resolved and content has been stamped to the page
	  app-addEventListener('dom-change', function() {
	    console.log('Admin:change ->   route %s',app.route);
	  });

	  // See https://github.com/Polymer/polymer/issues/1381
	  window-addEventListener('WebComponentsReady', function() {
	    // imports are loaded and elements have been registered
	  });

	  // Main area's paper-scroll-header-panel custom condensing transformation of
	  // the appName in the middle-container and the bottom title in the bottom-container.
	  // The appName is moved to top and shrunk on condensing. The bottom sub title
	  // is shrunk to nothing on condensing.
	  addEventListener('paper-header-transform', function(e) {
	    var appName = document.querySelector('#mainToolbar .app-name');
	    var middleContainer = document.querySelector('#mainToolbar .middle-container');
	    var bottomContainer = document.querySelector('#mainToolbar .bottom-container');
	    var detail = e.detail;
	    var heightDiff = detail.height - detail.condensedHeight;
	    var yRatio = Math.min(1, detail.y / heightDiff);
	    var maxMiddleScale = 0.50;  // appName max size when condensed. The smaller the number the smaller the condensed size.
	    var scaleMiddle = Math.max(maxMiddleScale, (heightDiff - detail.y) / (heightDiff / (1-maxMiddleScale))  + maxMiddleScale);
	    var scaleBottom = 1 - yRatio;

	    // Move/translate middleContainer
	    Polymer.Base.transform('translate3d(0,' + yRatio * 100 + '%,0)', middleContainer);

	    // Scale bottomContainer and bottom sub title to nothing and back
	    Polymer.Base.transform('scale(' + scaleBottom + ') translateZ(0)', bottomContainer);

	    // Scale middleContainer appName
	    Polymer.Base.transform('scale(' + scaleMiddle + ') translateZ(0)', appName);
	  });

	  // Close drawer after menu item is selected if drawerPanel is narrow
	  app.onDataRouteClick = function() {
	    var drawerPanel = document.querySelector('#paperDrawerPanel');
	    if (drawerPanel.narrow) {
	      drawerPanel.closeDrawer();
	    }
	  };

	  // Scroll page to top and expand header
	  app.scrollPageToTop = function() {
	    document.getElementById('mainContainer').scrollTop = 0;
	  };
	 
	}).apply(this,[document]);
}

   
</script>
</dom-module>