<link rel="import" href="../bower_components/polymer/polymer.html">
<dom-module id="namtok-toolbar">
<template >
<style include="shared-styles"></style>
<style>
</style>
	
</template>
<script>
    (function() {
    'use strict';
      Polymer({
          is: 'namtok-toolbar',
          
      });
    })();
</script>
</dom-module>