<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->
<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="namtok-login">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    
    <input type="text" placeholder="Username" value="{{login::input}}"/>
    <input type="password" name="" id="" value="{{pass::input}}" />
    <button on-tap="tapLogin">Login</button>
    
  </template>

  <script>
    (function () {
      'use strict';

      Polymer({
        is: 'namtok-login',
        tapLogin:function(){
            console.log("this.login %s this.pass %s",this.login,this.pass);
        },
        properties: {
          login: {
            type: String,
            notify: true,
          },
          pass: {
            type: String,
            notify: true,
          }
        },
        ready: function() {
        }
        
      });
    })();
  </script>

</dom-module>
