<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

<script src="../bower_components/page/page.js"></script>
<script>
  window.addEventListener('WebComponentsReady', function() {

    // We use Page.js for routing. This is a Micro
    // client-side router inspired by the Express router
    // More info: https://visionmedia.github.io/page.js/

    // Middleware
    function scrollToTop(ctx, next) {
<<<<<<< HEAD
      app.scrollTop = 0;
=======
      app.scrollPageToTop();
>>>>>>> origin/master
      next();
    }

    // Routes
    page('/', scrollToTop, function() {
      app.route = 'home';
    });

<<<<<<< HEAD
    page('/admin', scrollToTop, function() {
      app.route = 'admin';
    });

    page('/users', scrollToTop, function() {
      app.route = 'users';
    });

    page('/users/:id', scrollToTop, function(data) {
=======
    page('/users', scrollToTop, function() {
      app.route = 'users';
    });
    
     page('/backend/login', scrollToTop, function() {
      app.route = 'backend-login';
    });

    page('/users/:name', scrollToTop, function(data) {
>>>>>>> origin/master
      app.route = 'user-info';
      app.params = data.params;
    });

    page('/contact', scrollToTop, function() {
      app.route = 'contact';
    });

<<<<<<< HEAD
=======
    page('*', function() {
      app.$.toast.text = 'Can\'t find: ' + window.location.href  + '. Redirected you to Home Page';
      app.$.toast.show();
      page.redirect('/');
    });

>>>>>>> origin/master
    // add #! before urls
    page({
      hashbang: true
    });

  });
</script>
