<!doctype html>
<<<<<<< HEAD
=======
<!--
@license
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
-->

>>>>>>> origin/master
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Polymer Starter Kit" />
<<<<<<< HEAD
  <title>Namtodk Backend</title>
  <!-- Place fadvicon.ico in the `app/` directory -->
=======
  <title>Koding</title>
  <!-- Place favicon.ico in the `app/` directory -->
>>>>>>> origin/master

  <!-- Chrome for Android theme color -->
  <meta name="theme-color" content="#2E3AA1">

  <!-- Web Application Manifest -->
  <link rel="manifest" href="manifest.json">

  <!-- Tile color for Win8 -->
  <meta name="msapplication-TileColor" content="#3372DF">

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="application-name" content="PSK">
  <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Polymer Starter Kit">
  <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

  <!-- Tile icon for Win8 (144x144) -->
  <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">

  <!-- build:css styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
<<<<<<< HEAD
  <link rel="stylesheet" href="styles/helper.css">
  <link rel="stylesheet" href="styles/flexbox-table.css">
=======
>>>>>>> origin/master
  <!-- endbuild-->

  <!-- build:js bower_components/webcomponentsjs/webcomponents-lite.min.js -->
  <script src="bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <!-- endbuild -->

  <!-- will be replaced with elements/elements.vulcanized.html -->
  <link rel="import" href="elements/elements.html">
  <!-- endreplace-->

  <!-- For shared styles, shared-styles.html import in elements.html -->
  <style is="custom-style" include="shared-styles"></style>

</head>

<body unresolved class="fullbleed layout vertical">
<<<<<<< HEAD


  <span id="browser-sync-binding"></span>
  

  <template is="dom-bind" id="app">

    <!-- Main Content -->
    <div class="content">
      <iron-pages attr-for-selected="data-route" selected="{{route}}">
        <section data-route="home">
          <paper-material elevation="1">
            <h1 class="title">LABTOK</h1>
            <a data-route="admin" href="/admin" >
              <iron-icon icon="admin"></iron-icon>
              <span>Admin</span>
          </a>
          </paper-material>
        </section>
        <section data-route="admin">
          <paper-material elevation="1">
            CLIENTOK-ADMIN
              
          </paper-material>
        </section>
      </iron-pages>
    </div>

    
=======
  <span id="browser-sync-binding"></span>
  <template is="dom-bind" id="app">

    <paper-ripple center="1"></paper-ripple>
    
    <paper-material elevation="0" id="namtok-toolbar">
         <h1>LABTOK</h1>
         <a data-route="users" href="/users" on-tap="onDataRouteClick">
            <iron-icon icon="info"></iron-icon>
            <span>Users</span>
        </a>
        <a data-route="home" href="/" on-tap="onDataRouteClick">
            <iron-icon icon="info"></iron-icon>
            <span>Home</span>
         </a>
         <a data-route="backend-login" href="/backend/login" on-tap="onDataRouteClick">
            <iron-icon icon="info"></iron-icon>
            <span>LogIn</span>
         </a>
         
         <iron-pages attr-for-selected="data-route" selected="{{route}}">
            <section data-route="home">
                <paper-material elevation="1">
                    HOME
                </paper-material>
            </section>  
            <section data-route="users">
                <paper-material elevation="1">
                    USERS
                </paper-material>
            </section>
            <section data-route="backend-login">
                <paper-material elevation="1">
                    <namtok-login></namtok-login>
                </paper-material>
            </section> 
        </iron-pages>
    </paper-material>
    
    

    <paper-drawer-panel id="paperDrawerPanel" class="hidden">
     
     
      <!-- Drawer Scroll Header Panel -->
      <paper-scroll-header-panel drawer fixed>

        <!-- Drawer Toolbar -->
        <paper-toolbar id="drawerToolbar">
          <span class="paper-font-title">Menu</span>
        </paper-toolbar>

        <!-- Drawer Content -->
        <paper-menu class="list" attr-for-selected="data-route" selected="[[route]]">
          <a data-route="home" href="/" on-tap="onDataRouteClick">
            <iron-icon icon="home"></iron-icon>
            <span>Home</span>
          </a>

          <a data-route="users" href="/users" on-tap="onDataRouteClick">
            <iron-icon icon="info"></iron-icon>
            <span>Users</span>
          </a>

          <a data-route="contact" href="/contact" on-tap="onDataRouteClick">
            <iron-icon icon="mail"></iron-icon>
            <span>Contact</span>
          </a>
        </paper-menu>
      </paper-scroll-header-panel>
      
      

      <!-- Main Area -->
      <paper-scroll-header-panel main id="headerPanelMain" condenses keep-condensed-header>

        <!-- Main Toolbar -->
        <paper-toolbar id="mainToolbar" class="tall">
          <paper-icon-button id="paperToggle" icon="menu" paper-drawer-toggle></paper-icon-button>
          <span class="flex"></span>

          <!-- Toolbar icons -->
          <paper-icon-button icon="refresh"></paper-icon-button>
          <paper-icon-button icon="search"></paper-icon-button>

          <!-- Application name -->
          <div class="middle middle-container center horizontal layout">
            <div class="app-name">Koding</div>
          </div>

          <!-- Application sub title -->
          <div class="bottom bottom-container center horizontal layout">
            <div class="bottom-title paper-font-subhead">The future of the web today</div>
          </div>

        </paper-toolbar>

        <!-- Main Content -->
        <div class="content">
          <iron-pages attr-for-selected="data-route" selected="{{route}}">

    
           
            <section data-route="home">
              <paper-material elevation="1">
                <my-greeting></my-greeting>

                <p class="paper-font-subhead">You now have:</p>
                <my-list></my-list>

                <p class="paper-font-body2">Loooking for more Web App layouts? Check out our <a href="https://github.com/PolymerElements/app-layout-templates">layouts</a> collection. You can also <a href="http://polymerelements.github.io/app-layout-templates/">preview</a> them live.</p>
              </paper-material>
              <paper-material elevation="1">
                <p class="paper-font-body2">This is another card.</p>
              </paper-material>

              <paper-material elevation="1" class="paper-font-body2">
                <h1 id="license">License</h1>
               
              </paper-material>

            </section>

            <section data-route="users">
              <paper-material elevation="1">
                <h2 class="page-title">Users</h2>
                <p>This is the users section</p>
                <a href="/users/Rob">Rob</a>
              </paper-material>
            </section>

            <section data-route="user-info">
              <paper-material elevation="1">
                <h2 class="page-title">
                User:<span>{{params.name}}</span>
                </h2>
                <div>This is <span>{{params.name}}</span>'s section</div>
              </paper-material>
            </section>

            <section data-route="contact">
              <paper-material elevation="1">
                <h2 class="page-title">Contact</h2>
                <p>This is the contact section</p>
              </paper-material>
            </section>

          </iron-pages>
        </div>
      </paper-scroll-header-panel>
    </paper-drawer-panel>

    <paper-toast id="toast">
      <span class="toast-hide-button" role="button" tabindex="0" onclick="app.$.toast.hide()">Ok</span>
    </paper-toast>
>>>>>>> origin/master

    <!-- Uncomment next block to enable Service Worker support (1/2) -->
    <!--
    <paper-toast id="caching-complete"
                 duration="6000"
                 text="Caching complete! This app will work offline.">
    </paper-toast>

    <platinum-sw-register auto-register
                          clients-claim
                          skip-waiting
                          on-service-worker-installed="displayInstalledToast">
      <platinum-sw-cache default-cache-strategy="fastest"
                         cache-config-file="cache-config.json">
      </platinum-sw-cache>
    </platinum-sw-register>
    -->

  </template>

  <!-- build:js scripts/app.js -->
<<<<<<< HEAD
  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
  <!-- endbuild-->
  
</body>

</html>

=======
  <script src="scripts/app.js"></script>
  <!-- endbuild-->
</body>

</html>
>>>>>>> origin/master
