/*
Copyright (c) 2015 The Polymer Project Authors. All rights reserved.
This code may only be used under the BSD style license found at http://polymer.github.io/LICENSE.txt
The complete set of authors may be found at http://polymer.github.io/AUTHORS.txt
The complete set of contributors may be found at http://polymer.github.io/CONTRIBUTORS.txt
Code distributed by Google as part of the polymer project is also
subject to an additional IP rights grant found at http://polymer.github.io/PATENTS.txt
*/

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
@import url(https://fonts.googleapis.com/css?family=Passion+One:400,700);
@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Lora);
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,700);

body {
  /*background: #fafafa;*/
  background:white;
  font-family: 'Lato', sans-serif;
  color: #333;
}

.hidden{
    display:none;
}


#namtok-toolbar {
    height: 100px;
    background:transparent;
}
#namtok-toolbar h1{
    font-family: 'Lato', sans-serif;
    background: black;
    color: white;
    text-align: center;
    font-size: 64px;
    font-weight: 100;
    padding: 8px 5px 10px 5px;
}